page-social-login {
    display:flex !important;
    background-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    color: #333;

    ion-item {
        background-color:white !important;
    }

    .logon-view {
        border-radius: 10px;
        box-shadow: 0 0 10px black;
        background-color:white;
        width:90%;
    }

}
