<ion-content>
  <div class="content-title">Registro</div>
  <div text-center padding>
    <i float-right class="fa fa-times" (click)="navCtrl.pop()"></i>
    <p>{{message}}</p>
    <ion-item no-padding>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="entity.PCL_Nome"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="entity.PCL_Email"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>WhatsApp</ion-label>
      <ion-input type="text" [(ngModel)]="entity.PCL_Whatsapp"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>CPF</ion-label>
      <ion-input type="text" [(ngModel)]="entity.PCL_CPF"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="entity.PCL_Senha"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label stacked>Repetir Senha</ion-label>
      <ion-input type="password" [(ngModel)]="entity.PCL_RepetirSenha"></ion-input>
    </ion-item>
    <button ion-button block icon-start color="secondary" (click)="manualLogin()">
      <ion-icon name="contact"></ion-icon> &nbsp; Registrar!
    </button>
    <!--
    <p>ou:</p>
    <button ion-button block icon-start round color="primary" (click)="facebookLogin()">
        <ion-icon name="logo-facebook"></ion-icon> &nbsp; Facebook
    </button>
    <button ion-button block icon-start round color="danger" (click)="googleLogin()">
        <ion-icon name="logo-googleplus"></ion-icon> &nbsp; Google+
    </button>
    -->
  </div>
</ion-content>
  