<ion-content>
    <ion-row>
    	<ion-slides id="banner" zoom="false" autoplay="3000" loop>
	      <ion-slide>
	          <img src="https://res.cloudinary.com/dd7birsuw/image/upload/v1544617337/via-norte-hyundai/banners-institucionais/banner-institucional-hb20-via-norte-hyundai.png" />
	      </ion-slide>
	      <ion-slide>
	          <img src="https://res.cloudinary.com/dd7birsuw/image/upload/v1544617334/via-norte-hyundai/banners-institucionais/banner-institucional-creta-via-norte-hyundai.png" />
	      </ion-slide>
	      <ion-slide>
	          <img src="https://res.cloudinary.com/dd7birsuw/image/upload/v1544617335/via-norte-hyundai/banners-institucionais/banner-institucional-seminovos-via-norte-hyundai.png" />
	      </ion-slide>
	    </ion-slides>
	</ion-row>
	<ion-row class="mt-20">
		<ion-title>
			Bem vindo a <b>Via Norte | Hyundai</b>
		</ion-title>
	</ion-row>
	<ion-row>
		<ion-col col-12>
			<ion-card>
				<ion-card-content>
					<p>Preparamos este aplicativo para facilitar seu contato com a nossa concessionária</p>
				</ion-card-content>
			</ion-card>
		</ion-col>
	</ion-row>
    <ion-row>
		<ion-col col-6 (click)="visualizarProduto()">
			<ion-card text-center>
				<div padding >
					<img src="https://image.flaticon.com/icons/svg/149/149363.svg" class="img-services">
				</div>
				<ion-card-header>
				<b color="primary">Agendamentos</b>
				</ion-card-header>
			</ion-card>
		</ion-col>
		<ion-col col-6 (click)="visualizarProduto()">
			<ion-card text-center>
				<div padding>
					<img src="https://image.flaticon.com/icons/svg/149/149442.svg" class="img-services">
				</div>
				<ion-card-header>
				<b color="primary">Como Chegar</b>
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-6 (click)="visualizarProduto()">
			<ion-card text-center>
				<div padding >
					<img src="https://image.flaticon.com/icons/svg/879/879757.svg" class="img-services">
				</div>
				<ion-card-header>
				<b color="primary">Ofertas Especiais</b>
				</ion-card-header>
			</ion-card>
		</ion-col>
		<ion-col col-6 (click)="visualizarProduto()">
			<ion-card text-center>
				<div padding>
					<img src="https://image.flaticon.com/icons/svg/1473/1473426.svg" class="img-services">
				</div>
				<ion-card-header>
				<b color="primary">Avaliar meu Usado</b>
				</ion-card-header>
			</ion-card>
		</ion-col>
		<ion-col col-6 (click)="visualizarProduto()">
			<ion-card text-center>
				<div padding>
					<img src="https://image.flaticon.com/icons/svg/1465/1465158.svg" class="img-services">
				</div>
				<ion-card-header>
				<b color="primary">Seguros</b>
				</ion-card-header>
			</ion-card>
		</ion-col>
		<ion-col col-6 (click)="visualizarProduto()">
			<ion-card text-center>
				<div padding>
					<img src="https://image.flaticon.com/icons/svg/1077/1077976.svg" class="img-services">
				</div>
				<ion-card-header>
				<b color="primary">Financiamento</b>
				</ion-card-header>
			</ion-card>
		</ion-col>
	</ion-row>
</ion-content>