
<ion-content>
  <div class="content-title">Serviços</div>
  <ion-grid class="model-list">
    <ion-card>
      <img src="https://blueprint-cdn.searchoptics.com.br/8163690932ed75b77f67a2a3408ff4f1/agendamento-de-servicos/service_intro_split.jpg">
      <ion-card-header>
        <ion-card-title>Agendamento</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Precisa de um serviço confiável e acessível para o seu carro? Venha para a Via Norte. Possuímos técnicos altamente qualificados e peças originais para fornecer o melhor serviço de manutenção ou reparo na região de para seu carro. Por favor, preencha o formulário abaixo e agende seu serviço.</p>
        <button ion-button full color="primary">Agendar Agora</button>
      </ion-card-content>
    </ion-card>
    <!--  -->
    <ion-card>
      <img src="https://res.cloudinary.com/dd7birsuw/image/upload/v1544035711/via-norte-hyundai/servicos/Revisoes-programadas.jpg">
      <ion-card-header>
        <ion-card-title>Revisão</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>A Hyundai Motor Brasil pratica preços justos e transparentes para as revisões, peças e serviços do seu HB20 ou Hyundai Creta. Realizar todas as manutenções é muito importante, mas gastar pouco e saber com clareza o seu valor é essencial.</p>
        <button ion-button full color="primary">Agendar Agora</button>
      </ion-card-content>
    </ion-card>
    <!--  -->
    <ion-card>
      <img src="https://blueprint-cdn.searchoptics.com.br/8163690932ed75b77f67a2a3408ff4f1/acessorios/accessories_intro_split.jpg">
      <ion-card-header>
        <ion-card-title>Acessórios</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>De rodas customizadas à DVD players, conte conosco para oferecer acessórios originais e deixar seu carro com a sua cara.</p>
        <button ion-button full color="primary">Solicitar Orçamento</button>
      </ion-card-content>
    </ion-card>
    <!--  -->
    <ion-card>
      <img src="https://blueprint-cdn.searchoptics.com.br/8163690932ed75b77f67a2a3408ff4f1/funilaria-e-pintura/bodyshop_intro_split.jpg">
      <ion-card-header>
        <ion-card-title>Funilaria e Pintura</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>De pequenos arranhões à grandes reparos por colisão, nossa equipada oficina proporciona reparos de funilaria, restaurações e pintura. Trabalhamos em parceria com diversas seguradoras fornecendo praticidade para a solução de sinistros.</p>
        <button ion-button full color="primary">Agendar Serviço</button>
      </ion-card-content>
    </ion-card>

  </ion-grid>

</ion-content>