<!--
  Generated template for the NovosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
	 <div class="content-title">Novos</div>
	 
		<ion-row>
			<ion-col col-6 *ngFor="let data of novos" (click)="visualizarProduto(data)">
				 <ion-card>
				 	<img [src]="data.imagem_principal">
				  <ion-card-header>
				    <b>{{data.PRO_Nome}}</b>
				  </ion-card-header>
				</ion-card>
			</ion-col>
		</ion-row>
</ion-content>
