page-seminovo-detalhe {
    .img-slider{
        object-fit: cover;
        width: 100% !important;
        display: block;
    }
    .swiper-pagination-bullet{
        background: #ffffff;
    }
    .pd-10{
        padding: 10px;
    }
    .mt-5{
        margin-top: 5px;
    }

    .mt-15{
        margin-top: 15px;
    }
}
