
<ion-content *ngIf="seminovo">
  <div class="content-title">{{seminovo.SEMI_Modelo}}</div>
  <ion-row>
    <ion-slides pager="true" loop>
      <ion-slide *ngFor="let data of seminovo.imagens">
        <img [src]="data.SEIMG_Imagem" class="img-slider">
      </ion-slide>
    </ion-slides>
  </ion-row>
  <ion-row class="mt-15">
    <ion-title>
      {{seminovo.SEMI_Marca}} | {{seminovo.SEMI_Modelo}}
    </ion-title>
  </ion-row>
  <div padding>
      <p [innerHTML]="seminovo.SEMI_Descricao"></p>
  </div>
  <ion-row>
      <ion-title ion-list>Informações</ion-title>
  </ion-row>
  <ion-grid class="pd-10">
    <ion-row>
      <ion-col>
        <b>Ano:</b>
        <label>{{seminovo.SEMI_AnoModelo}}</label>
      </ion-col>
      <ion-col>
        <b>Quilometragem:</b>
        <label>{{seminovo.SEMI_Quilometragem}}km</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Câmbio:</b>
        <label *ngIf="seminovo.SEMI_Cambio == 1">Automático</label>
        <label *ngIf="seminovo.SEMI_Cambio == 2">Manual</label>
        <label *ngIf="seminovo.SEMI_Cambio == 3">Automatizado</label>
      </ion-col>
      <ion-col>
        <b>Combustível:</b>
        <label>{{seminovo.SEMI_Combustivel}}km</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>Cor:</b>
        <label>{{seminovo.SEMI_Cor}}</label>
      </ion-col>
      <ion-col>
        <b>Portas:</b>
        <label>{{seminovo.SEMI_Portas}}km</label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
      <ion-title ion-list>Opcionais</ion-title>
  </ion-row>
  <ion-row class="pd-10">
    <ion-col col-6  *ngFor="let data of seminovo.acessorios">
      <ion-icon name="checkmark-circle"></ion-icon> {{data.SEMIA_Nome}}
    </ion-col>
    <hr>
  </ion-row>

  <div padding>
    <button ion-button block color="primary" (click)="interessado()">Estou interessado!</button>
    <button ion-button block color="danger" (click)="navCtrl.pop()">Voltar</button>
    <i>Data de Publicação <b>{{seminovo.SEMI_DataCadastro}}</b></i>
  </div>
  <br><br>

</ion-content>