
<ion-header>
    <ion-navbar color="light">
      <ion-title class="main-logo">
        <ion-grid>
          <ion-row>
            <ion-col no-padding text-left col-6>
              <img style="height: 28px; max-width: 100%;" src="assets/imgs/top-left.png" />
            </ion-col>
            <ion-col no-padding text-right col-6>
              <img style="height: 28px; max-width: 100%;" src="assets/imgs/top-right.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content>
      <ion-tabs color="light">
          <ion-tab [root]="mainPage" tabTitle="Home" tabIcon="ios-home-outline"></ion-tab>
          <ion-tab [root]="novosPage" tabTitle="Novos" tabIcon="ios-car-outline"></ion-tab>
          <ion-tab [root]="seminovoPage" tabTitle="Seminovos" tabIcon="md-car"></ion-tab>
          <ion-tab [root]="servicosPage" tabTitle="Serviços" tabIcon="ios-people-outline"></ion-tab>
          <ion-tab [root]="informacoesPage" tabTitle="Informações" tabIcon="ios-information-circle-outline"></ion-tab>
        </ion-tabs>  
  </ion-content>
