// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800');

* {
    font-family: Assistant, sans;
}

ion-header { 
    .toolbar-title {
        color: map-get($colors, primary);
    }
}

.tabs-md-light .tabbar{
    background-color: map-get($colors, aqua-blue)
}
.tabs-md-light .tab-button, .tabs-md-light .tab-button-icon{
    color:map-get($colors, light)
}

.tabs-md-light .tab-button:hover:not(.disable-hover), .tabs-md-light .tab-button[aria-selected=true], .tabs-md-light .tab-button[aria-selected=true] .tab-button-icon {
    color: map-get($colors, ligth-selected) !important;
}

.main-logo {
    padding: 0 !important;
}

ion-fab {
    color: map-get($colors, primary);
}

.content-title {
    background-color: map-get($colors, light);
    color: map-get($colors, primary);
    padding:10px;
    width:100%;
    font-weight:bold;
    font-size:1.3em;
    text-align: center;
}

.content-rule {
    background-color: map-get($colors, light);
    height: 4px !important;
}

.model-card {

    background-color: map-get($colors, primary);
    text-shadow: 0 0 5px black;
  
    .card-title {
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
  
    .card-subtitle {
        font-size: 1.0em;
        width: 100%;
        color: #fff;
    }
  
}

.model-list {
    color: map-get($colors, primary);
    
    ion-row {
        margin:5px;
        border: 1px solid map-get($colors, primary);
        border-radius: 5px;
        background-color: map-get($colors, light); 
    }

    img {
        width:100%;
        margin:5px;
    }
    h2 {
        font-size: 0.9em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top:5px;
        margin:0;
        margin-bottom: 3px;
        font-weight: bold;
        border-bottom: 1px solid map-get($colors, primary);
    }
    p {
        font-size:0.9em;
        margin:0;
    }
}