
<ion-content>
  <div class="content-title">Seminovos</div>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar Modelos..."></ion-searchbar>
  <ion-grid>
    <ion-list>
      <ion-item *ngFor="let data of seminovos">
        <ion-thumbnail item-start>
          <img [src]="data.imagem" class="img-listar">
        </ion-thumbnail>
        <h2>{{data.SEMI_Codigo}} {{data.SEMI_Modelo}}</h2>
        <p>{{data.SEMI_Quilometragem}}km | 
          {{data.SEMI_Combustivel}} | 
          {{data.SEMI_Cor}} | {{data.SEMI_ValorVenda | currency: 'R$ '}}
        </p>
        <button ion-button clear item-end (click)="visualizarSeminovo(data.SEMI_URL)">Ver</button>
      </ion-item>
    </ion-list>
  </ion-grid>

</ion-content>