page-novo-detalhe {
	.titulo-block-home{
    font-family: 'HyundaiSansHead-Medium', sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
	}
	.descricao-block-home {
    font-family: 'HyundaiSansText-Regular', sans-serif;
    font-size: 13px;
    text-align: justify;
    color: #292929;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
