<ion-header *ngIf="veiculo">
		<ion-navbar>
			<ion-title>
		    {{veiculo.PRO_Nome}}
			</ion-title>
		</ion-navbar>
	</ion-header>

<ion-content *ngIf="veiculo">

  <img [src]="veiculo.imagem_principal">

  <div padding>
    <p [innerHTML]="veiculo.PRO_Descricao"></p>

    <button ion-button block color="primary" (click)="interessado()">Estou interessado!</button>
    <button ion-button block color="danger" (click)="navCtrl.pop()">Voltar</button>
  </div>

</ion-content>